{% extends "base.html" %}

{% block title %}Add Scan Data{% endblock %}

{% block content %}
<div 
  class="border border-primary-subtle mt-5"
  style="width:200px; height:100px"
  id="drop_zone" 
  ondrop="dropHandler(event);"
  ondragover="dragOverHandler(event);">

  <p class="text-center">Drag one or more system scan .xml files to this <i>drop zone</i>.</p>
</div> 

<!-- Test script portion for drag/drop 
https://stackoverflow.com/questions/8006715/drag-drop-files-into-standard-html-file-input -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="drop-zone">
    Drop files here...
    <div id="clickHere">
        or click here..
        <input type="file" name="file" id="file" />
    </div>
</div>
<div>
  <form action="/file-upload" class="dropzone" id="scan-dropzone"></form>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    var dropZoneId = "drop-zone";
    var buttonId = "clickHere";
    var mouseOverClass = "mouse-over";

    var dropZone = $("#" + dropZoneId);
    var ooleft = dropZone.offset().left;
    var ooright = dropZone.outerWidth() + ooleft;
    var ootop = dropZone.offset().top;
    var oobottom = dropZone.outerHeight() + ootop;
    var inputFile = dropZone.find("input");
    document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
      e.preventDefault();
      e.stopPropagation();
      dropZone.addClass(mouseOverClass);
      var x = e.pageX;
      var y = e.pageY;

      if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
        inputFile.offset({ top: y - 15, left: x - 100 });
      } else {
        inputFile.offset({ top: -400, left: -400 });
      }

    }, true);

    if (buttonId != "") {
      var clickZone = $("#" + buttonId);

      var oleft = clickZone.offset().left;
      var oright = clickZone.outerWidth() + oleft;
      var otop = clickZone.offset().top;
      var obottom = clickZone.outerHeight() + otop;

      $("#" + buttonId).mousemove(function (e) {
        var x = e.pageX;
        var y = e.pageY;
        if (!(x < oleft || x > oright || y < otop || y > obottom)) {
          inputFile.offset({ top: y - 15, left: x - 160 });
        } else {
          inputFile.offset({ top: -400, left: -400 });
        }
      });
    }

    document.getElementById(dropZoneId).addEventListener("drop", function (e) {
      $("#" + dropZoneId).removeClass(mouseOverClass);
    }, true);

  })
</script>
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
{% endblock %}