{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class={{ class1 }}>
  <h2 class="text-center fw-bold">
    Welcome to Eric's Tools!
  </h2>
  <p class="text-center">
    Excuse my mess while I work on implementing more tools.  I'm sure this won't be the last format you see on the website.  Feedback is highly encouraged.
  </p>
</div>
<div class={{ class2 }}>
  <h4 class="text-center fw-bold">
    Changes/Updates
  </h4>
  <h5 class="text-left">
    Date: 6/24/2024
  </h5>
  <p class="text-left">
    - Updated SWC GPS to use proper pathing.<br/>
    - Added total weight output to Entity Material Calculator.<br/>
    - Moved change log to About page
  </p> 
  <h5 class="text-left">
    Date: 5/31/2024
  </h5>
  <p class="text-left">
    - Initial work on adding SWC GPS system   .
  </p>  
  <h5 class="text-left">
    Date: 5/24/2024
  </h5>
  <p class="text-left">
    - Adding the first production tool that will give you the RMs needed to produce the specified quantity of an entity.   
  </p>  
  <h5 class="text-left">
    Date: 5/20/2024
  </h5>
  <p class="text-left">
    - Bugfix for Current System Status not finding and returning results after initial system upload.   
  </p>
  <h5 class="text-left">
    Date: 5/19/2024
  </h5>
  <p class="text-left">
    - Added System Movement data collection and a report based on System name (Movement Within System page).<br/>
    - Updated Scan Entry database to handle additional fields.<br/>
    -> This required deleting and repopulating the database with current files.<br/>
  </p>
  <h5 class="text-left">
    Date: 5/18/2024
  </h5>
  <p class="text-left">
    - Added reporting of what is currently in a system by system name (Current System Status page).<br/>
  </p>
  <h5 class="text-left">
    Date: 5/16/2024
  </h5>
  <p class="text-left">
    - Adding ability to upload system scanner files in standard Combine output (Upload Scan File page).<br/>
    - Added the Entity Lookup options for either the entities ID or Name (Entity Lookup page).
  </p>
</div>
{% endblock %}