{% extends "base.html" %}
{% block title %}Entity Lookup{% endblock %}
{% block content %}
<form class="mt-3" method="post">
  <div>
    <label style="padding:30px 0 0 0">Select Entity Type:</label>
    <select name="entityType" id="entityType", onChange="setClass(this.value);">
      <option value=""></option>
      <option value="station">Station</option>
      <option value="ship">Ship</option>
      <option value="vehicle">Vehicle</option>
      <option value="facility">Facility</option>
      <option value="item">Item</option>
      <option value="droid">Droid</option>
    </select>
  </div>
  <div>
    <label style="padding:30px 0 0 0">Select Entity Class:</label>
    <select name="entityClass", id="entityClass", onChange="setEntity(this.value);">
      <option value="" disabled selected></option>
    </select>
  </div>
  <div>
    <label style="padding:30px 0 0 0">Select Entity:</label>
    <select name="entityName", id="entityName">
      <option value="" disabled selected></option>
    </select>
  </div>
  <div>
    <label style="padding:30px 0 0 0">Enter Quantity:</label>
    <input type="text" name="entityQty" placeholder="1">
  </div>
  <div style="padding:30px 0 0 100px">
    <input type="submit" >
  </div>
 </form> 
{% endblock %}

{% block scripts %}
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.3/sql-wasm.js" integrity="sha512-+6Q7hv5pGUBXOuHWw8OdQx3ac7DzM3oJhYqz7SHDku0yl9EBdMqegoPed4GsHRoNF/VQYK2LTYewAIEBrEf/3w==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script>
  const entityList = {{ entityJson|tojson }}
</script>
<script 
  src="{{ url_for('static', filename='js/proj_lu_entity.js') }}">
</script>
{% endblock %}